
  <div>
    <table *ngIf="!ocorreuErro; else templateErro">
      <tr *ngFor="let nome of nomes">
        <td>{{nome.id}}</td>
        <td>{{nome.name}}</td>
      </tr>
    </table>
     
</div>

<ng-template #templateErro>
  <div class="erro">
    Ocorreu um erro inesperado
  </div>
</ng-template>